*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}
  
body {
    background-image: url('background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}
  
#game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #CCC;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}
  
.cell {
    background-color: #AAA;
    border-radius: 1vmin;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(145, 173, 113);
    width: 80vmin;
    height: 95vmin;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header {
    font-weight: 600;
    text-align: center;
    font-size: 10vmin;
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal-text {
    font-size: 5vmin;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    text-align: center;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: red;
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}
  
@keyframes show {
    0% {
      opacity: .5;
      transform: scale(0);
    }
}

@keyframes leave {
    0% { opacity: 100%; }
    40% { opacity: 80%; }
    100% { opacity: 0%; }
}